@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Movement";
  src: url("/fonts/Movement-DirectBlack.woff") format("woff"),
    url("/fonts/Movement-DirectBlack.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/MontserratAlternates-Regular.ttf");
}

/* Links */

.link-animation {
  @apply no-underline relative ease-out duration-300 bg-link bg-no-repeat bg-fromTo bg-gradient-to-l from-info to-info focus:bg-link-hover hover:bg-link-hover rounded-sm hover:text-black focus:text-black;
}

.link-animation-footer {
  @apply no-underline relative ease-out duration-300 bg-link-footer bg-no-repeat bg-fromTo bg-gradient-to-l from-info to-info focus:bg-link-footer-hover hover:bg-link-footer-hover rounded-sm;
}

.active.link {
  @apply no-underline relative bg-no-repeat bg-fromTo bg-gradient-to-l from-info to-info bg-link-footer-hover rounded-sm;
}
